html
  head
    title= title
  body
    h1= message
    each val in posts
      div(class="post")
        h2(class="post-Title")=val[0]
        div(class="post-Date")
          p=val[1]
        div(class="post-author")
          p=val[2] 
        div(class="post-content")
          p=val[3]